<% if logged_in?(:site_admin) %>
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb blogcrumb">
			<li class="breadcrumb-item">
				<%= link_to fa_icon('file-text'), toggle_status_blog_path(blog), class: 'fa-lg', style: blog_status_color(blog) %>
			</li>
			<li class="breadcrumb-item">
				<%= link_to fa_icon('pencil-square-o'), edit_blog_path(blog), class: 'fa-lg' %>
			</li>
			<li class="breadcrumb-item">
				<%= link_to fa_icon('trash'), blog, class: 'fa-lg', method: :delete, data: { confirm: 'Are you sure?' } %>
			</li>
		</ol>
	</nav>
<% end %>
