<div class="row">
	<div class="col-md-8">
		<%= link_to topic.title, topic_show_path(topic) %>
	</div>
	<div class="col-md-2">
		<%= topic.blogs.count %>
	</div>
	<div class="col-md-2">
		blogs
	</div>
</div>
<hr>