<div class="blog-header">
  <div class="container">
    <h2 class="blog-title">My Blog</h2>
    <p class="lead blog-description">I have somthing intresting for you.</p>
    <span>
    	<%= link_to 'Write a New Blog', new_blog_path if logged_in?(:site_admin) %>
   	</span>
   	<span>
   		<%= link_to "Topics", topics_path %>
   	</span>
  </div>
</div>
