<nav class="navbar navbar-expand-lg navbar-light blog-nav" style="background-color: #e9ebee;">
	<div class="container">
	  <%= link_to "Eugene Isaichenko", root_path, class: 'navbar-brand' %>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
	    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
	    </ul>
	    <form class="form-inline my-2 my-lg-0">
		    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
		      <%= nav_helper 'nav-link', 'li' %>
					<%= login_helper 'nav-link' %>
		    </ul>
	    </form>
	  </div>
	</div>
</nav>
